<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BarteringSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is a loginaccount Servlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/pages/login/userLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is a new barter request Servlet</description>
    <display-name>NewBarterServlet</display-name>
    <servlet-name>NewBarterServlet</servlet-name>
    <servlet-class>servlets.NewBarterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBarterServlet</servlet-name>
    <url-pattern>/pages/newBarter</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description>This is a new barter request Servlet</description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>servlets.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/pages/uploadservlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>400</error-code>
    <location>/includes/error_redirects/notFound.html</location>
  </error-page>
</web-app>